VITE_APP_ENV="dev|prod"
VITE_APP_API_URL=CoredataServicesApiUrl
VITE_APP_API_SECRET=CoredataServicesApiSecret
VITE_APP_CONTACT_EMAIL=ContactEmail
VITE_OPEN_WEATHER_ID=OpenWeatherID
VITE_IP_API_URL=GeolocationByIPApiUrl
VITE_FAVICON_API_URL=FaviconApiUrl
VITE_SEARCH_URL=GoogleSearchUrl
VITE_RESEARCH_URL=AIAssistantUrl